.container {
    width: 1440px;
    font-family:'inter', sans-serif ;
    background-color: rgb(238, 239, 240);
    margin: 0;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }
}
/*header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(33, 42, 49);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo {
    width: 60px;
    height: 40px;
    margin-right: 20px;
}
.header .merek {
    color: rgb(224, 208,251);
    font-size: 24px;
    font-weight: bold;
}
.header .latar {
    width: 52.66%;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 4.75%;
    position: relative;
}
.header .latar img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    position: absolute;
}
.header .latar input {
    background-color: rgb(116, 141, 146);
    border: none;
    width: 94%;
    height: 100%;
    padding-left: 50px;
    border-radius: 20px;
    color: white;
    border: none;
}
.header .latar input::placeholder {
    color: white;
    font-size: 16px;
}

.header .bell {
    margin-top: 3px;
    background-color: rgb(53, 68, 79);
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 20px;
}
.header .img :hover {
    width: 45px;
    height: 45px;
    background-color: black;
}
.header .akun a {
    background-color: rgb(53, 68, 79);
    display: flex;
    align-items: center;
    height: 56px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 1px;
}
.header .akun .kata {
    margin-right: 10px;
} 
.header .akun :hover {
    background-color: rgb(12, 12, 12);
}

.header .akun .profil {
    margin: 0 12px;
    background-color: chocolate;
    padding: 5px 14px;
    border-radius: 100%;
    border: 2px solid white;
}
@media (max-width: 1200px){
    .header .merek {
        display: none;
    }
    .header .akun .kata{
        display: none;
    }
    .header{
        height: 70px;
    }
    header .latar span {
        font-size: 13px;
    }
    .header .latar {
        height: 35px;
        border-radius: 15px;
    }
    .header .logo {
        width: 40px;
        height: 30px;
        margin-right: 10px;
    }
    .header .latar img {
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }
    .header .akun .profil {
        margin: 5px;
        padding: 3px 12px;
    }
    .header .akun a {
        height: 42px;
        border-radius: 13px;
    }
    .header .bell {
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 13px;
    }
    .header .img :hover {
        width: 30px;
        height: 30px;
    }
}
/*nav*/
.nav {
    position: fixed;
    top: 90px;
    width: 260px;
    height: 100%;
    left: 0;
    background-color: rgb(233, 231, 233);
    z-index: 9998;
    transition: width 0.3s ease;
    padding: 20px 20px;
    font-weight: bold;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav .channel {
    width: 100%;
}
.nav .fitur {
    width:78%;
    color: rgb(156, 156, 156);
    font-size: 20px;
    float: left;
}
.nav .jomblo{
    width: 23px;
    height: 23px;
}
.nav li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 15px 10px;
}
.nav li a {
    font-size: 16px;
    color: rgb(53, 68, 79);
    text-decoration: none;
}
.nav li .gambar {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.nav .sales {
    text-indent: 40px;
}
.nav .box{
    height: 135px;
}
.nav .bantuan{
    width: 100%;
    height: 150px;
    border-top: 2px solid rgb(164, 164, 164);
}
.nav .bantuan .help {
    width: 100%;
    font-weight:bold;
}
.nav .home{
    background-color: white;
    border-radius: 10px;
}
.nav .channel li:hover {
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 1200px){
    .nav {
        top: 70px;
        width: 220px;
    }
    .nav section .fitur {
        font-size: 18px;
    }
    .nav section li a {
        font-size: 16px;
    }
    .nav .box{
        height: 145px;
    }
}
@media (max-width: 768px) {
    .nav {
        width: 68px;
    }
    .nav section .fitur {
        display: none;
    }
    .nav section .jomblo {
        display: none;
    }
    .nav li {
        display: flex;
        justify-content: center;
    }
    .nav .channel .gambar{
        margin-left: 18px;
    }
    .nav .box {
        height: 200px;
    }
    .nav .sales{
        text-indent: 0;
    }
    .nav section li a span {
        display: none;
    }
}
@media (max-width: 480px) {
    .nav {
        width: 50px;
    }
}
.main {
    position: relative;
    width: 74%;
    left: 330px;
    padding: 0 3%;
    top: 90px;
}
.main h1 {
    font-size: 32px;
}
.main .bagian-1{
    display: flex;
    align-items: center;
    width: 95%;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(193, 193, 193);
    height: 120px;
    padding: 0 3%;
    border-radius: 10px;
}
.main .bagian-1 .profile {
    background-color: chocolate;
    padding: 5px 20px;
    border-radius: 100%;
    border: 3px solid black;
    margin-right: 10px;
}
.main .bagian-1 .profile .kata {
    font-size: 32px;
    color: white;
}
.main .bagian-1 .inline {
    display: flex;
    align-items: center;
}
.main .bagian-1 .useremail{
    width: 75%;
}
.main .bagian-1 .useremail li {
    list-style-type: none;
    font-weight: bold;
}
.main .bagian-1 .name {
    font-size: 24px;
}
.main .bagian-1 img {
    padding-left: 10px;
    width: 30px;
    height: 30px;
}
.main .bagian-1 .gambar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(196, 238, 226);
}
.main .bagian-1 .edit {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(208, 208, 208);
    cursor: pointer;
}
.main .bagian-1 .edit .kata span {
    display: flex;
}
.main .bagian-1 .edit :hover span {
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px){
    .main h1 {
        font-size: 28px;
    }
    .main .bagian-1 .profile .kata {
        font-size: 28px;
    }
    .main .bagian-1 .profile {
        padding: 4px 18px;
    }
    .main .bagian-1 .edit {
        font-size: 20px;
        height: 45px;
        width: 120px;
    }
    .main .bagian-1 .name {
        font-size: 20px;
    }
    .main .bagian-1 img {
        width: 25px;
        height: 25px;
    }
    .main .bagian-1 .edit :hover span {
        font-size: 20px;
        height: 45px;
        width: 120px;
    }
}
@media (max-width: 768px){
    .main h1 {
        font-size: 24px;
    }
    .main .bagian-1 {
        width: 100%;
    }
    .main .bagian-1 .profile .kata {
        font-size: 24px;
    }
    .main .bagian-1 .profile {
        padding: 4px 16px;
        border: 2px solid black;
    }
    .main .bagian-1 .edit {
        font-size: 16px;
        height: 35px;
        width: 80px;
    }
    .main .bagian-1 .edit .hapus {
        display: none;
    }
    .main .bagian-1 .name {
        font-size: 16px;
    }
    .main .bagian-1 .gambar {
        display: none;
    }
    .main .bagian-1 .name {
        font-size: 20px;
    }
    .main .bagian-1 img {
        width: 23px;
        height: 23px;
    }
    .main .bagian-1 .inline li {
        font-size: 12px;
    }
    .main .bagian-1 .edit :hover span{
        font-size: 16px;
        height: 35px;
        width: 80px;
    }
}
@media (max-width: 480px){
    .main .bagian-1 .profile .kata {
        font-size: 20px;
    }
    .main .bagian-1 .name {
        font-size: 16px;
    }
    .main h1 {
        font-size: 16px;
    }
    .main .bagian-1 .profile {
        padding: 4px 15px;
        border: 1px solid black;
    }
}
/*bagian-2*/
.main .bagian-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}
.main .bagian-2 article{
    width: 33%;
    padding: 25px 3%;
    border-radius: 10px;
    border: 1px solid rgb(193, 193, 193);
    background-color: white;
}
.main .bagian-2 .jarak {
    margin-right: 6%;
}
.main .bagian-2 article li {
    font-weight: bold;
    list-style-type: none;
    font-size: 18px;
}
.main .bagian-2 article .verifikasi {
    color: rgb(156, 156, 156);
}
.main .bagian-2 article .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .bagian-2 article .right {
    display: flex;
    justify-content: right;
}
.main .bagian-2 article .right img {
    width: 35px;
    height: 30px;
}
.main .bagian-2 article div {
    width: 90%;
    border-radius: 10px;
    padding: 10px 5%;
    background-color: rgb(246, 246, 246);
}
.main .bagian-2 .inline {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(196, 238, 226);
}
.main .bagian-2 .inline span {
    display: flex;
    align-items: center;
}
.main .bagian-2 article .judul {
    font-size: 32px;
    font-weight: bold;
}
@media (max-width: 1200px){
    .main .bagian-2 article li {
        font-size: 16px;
    }
    .main .bagian-2 article .judul {
        font-size: 28px;
    }
}
@media (max-width: 992px){
    .main .bagian-2 article li {
        font-size: 13px;
    }
    .main .bagian-2 article .judul {
        font-size: 24px;
    }
    .main .bagian-2 article .right img {
        width: 30px;
        height: 25px;
    }
    .main .bagian-2 .inline {
        width: 100px;
        border-radius: 8px;
        height: 30px;
        margin-bottom: 10px;
    }
    .main .bagian-2 article .verifikasi {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 768px){
    .main .bagian-2 {
        display:inline-block;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .main .bagian-2 article{
        width: 100%;
        margin-bottom: 10px;
    }
    .main .bagian-2 article li {
        font-size: 16px;
    }
    .main .bagian-2 .inline {
        width: 100px;
        border-radius: 8px;
        height: 30px;
        margin-bottom: 10px;
    }
}
.main .bagian-3 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main .bagian-3 article {
    width: 78.5%;
    padding: 20px 3%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
    background-color: white
}
.main .bagian-3 article .judul {
    font-size: 32px;
    font-weight: bold;
}
.main .bagian-3 article li {
    list-style-type: none;
}
.main .bagian-3 article li img{
    width: 100%;
}
@media (max-width: 1200px){
    .main {
        left: 250px;
        top:70px;
    }
}
@media (max-width: 768px){
    .main {
        left: 110px;
    }
    .main .bagian-3 {
        display: contents;

    }
    .main .bagian-3 article {
        width: 100%;
    }
}
@media (max-width: 480px){
    .main {
        left: 90px;
    }
    .main .bagian-3 article {
        width: 100%;
    }
    .main .bagian-3 article .judul {
        font-size: 24px;
        font-weight: bold;
    }
}