.container {
    width: 1366px;
    font-family:'inter', sans-serif ;
    background-color: rgb(238, 239, 240);
    flex-direction: column;
    margin: 0;
}

@media (max-width: 1366px){

    .container{
        width: 100%;
    }
}
    
@media (max-width: 992px) {
    .container{
        width: 100%;
    }
}
    
@media (max-width: 768px) {
    .container{
        width: 100%;
    }
}
@media (max-height:768px){
   .countainer {
        height: 100%;
   }
}
/*header*/
.header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgb(33, 42, 49);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo {
    width: 60px;
    height: 40px;
    margin-right: 20px;
}
.header .merek {
    color: rgb(224, 208,251);
    font-size: 24px;
    font-weight: bold;
}
.header .latar {
    background-color: rgb(116, 141, 146);
    width: 52.66%;
    height: 45px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 4.75%;
}
header .latar span {
    color: white;
}
.header .latar img {
    width: 30px;
    height: 30px;
    margin: 0 20px;
}
.header .bell {
    width: 40px;
    height: 40px;
    padding: 7px;
    background-color: rgb(53, 68, 79);
    border-radius: 20px;
}
.header .akun {
    color: white;
    background-color: rgb(53, 68, 79);
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px;
}
.header .akun .profil {
    margin: 0 10px;
    background-color: chocolate;
    padding: 5px 15px;
    border-radius: 100%;
    border: 2px solid white;
}
.header .akun .kata {
    margin-right: 10px;
} 
@media (max-width: 1200px){
    .header .merek {
        display: none;
    }
    .header .akun .kata{
        display: none;
    }
}

/*nav*/
.nav {
    position: fixed;
    top: 90px;
    width: 260px;
    height: 100%;
    left: 0;
    background-color: rgb(233, 231, 233);
    z-index: 9998;
    transition: width 0.3s ease;
    padding: 20px 20px;
    font-weight: bold;
    overflow-y: auto;
}
.nav .channel {
    width: 100%;
}
.nav .fitur {
    width:78%;
    color: rgb(156, 156, 156);
    font-size: 20px;
    float: left;
}
.nav .jomblo{
    width: 23px;
    height: 23px;
}
.nav li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 15px 10px;
}
.nav li a {
    font-size: 16px;
    color: rgb(53, 68, 79);
    text-decoration: none;
}
.nav li .gambar {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.nav .sales {
    text-indent: 40px;
}
.nav .box{
    height: 150px;
}
.nav .bantuan{
    border-top: 2px solid rgb(164, 164, 164);
}
.nav .bantuan .help {
    font-weight:bold;
    width: 100%;
}
.nav  .home{
    background-color: white;
    border-radius: 10px;
}
.nav .channel li:hover {
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 1200px){
    .nav {
        width: 260px;
    }
    .nav section .fitur {
        font-size: 20px;
    }
    .nav section li a {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    
    .nav {
        width: 220px;
    }
    .nav section .fitur {
        font-size: 18px;
    }
    .nav section li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .nav {
        width: 68px;
    }
    .nav section .fitur {
        display: none;
    }
    .nav section .jomblo {
        display: none;
    }
    .nav li {
        display: flex;
        justify-content: center;
    }
    .nav .channel .gambar{
        margin-left: 18px;
    }
    .nav .box {
        height: 210px;
    }
    .nav .sales{
        text-indent: 0;
    }
    .nav section li a span {
        display: none;
    }
}
@media (max-width: 480px) {
    .nav {
        width: 50px;
    }
}
/*main*/
.main {
    float: left;
    width: 38.92%;
    height: 30%;
    padding: 20px 5%;
}
.main section{
    position: relative;
    width: 100%;
    top: 90px;
    left: 280px;
    z-index: 9997;
    transition: width 0.3s ease;
}
.main section .kata {
    font-weight: bold;
    font-size: 32px;
    width: 100%;
}
.main section article {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 5%;
    margin: 40px 0;
    border: 1px solid rgb(179, 180, 181);
    box-shadow: 0 4px 4px rgb(179, 180, 181);
    font-weight: bold;
}
.main section .penjualan li{
    list-style-type: none;
    font-size: 28px;
}
.main section .penjualan .inline{
    float: left;
    color: rgb(163, 162, 164);
    width: 60%;
}
.main section article li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    color: rgb(0, 133, 255);
    width: 40%;
}
.main section article .color {
    color: rgb(163, 162, 164);
}
.main section article .border {
    margin: 30px 0;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    width: 100%;
}

.main section .rating .judul {
    width: 100%;
    font-size: 28px;
    color: rgb(163, 162, 164);
}
.main section .rating li {
    list-style-type: none;
    font-size: 24px;
    padding: 10px 0;
    border-top: 1px solid black;
}
.main section .rating span{
    float: right;
}
.main section .rating span img {
    width: 25px;
    height: 25px;
}
@media (max-width: 1200px){
    .main {
        float: none;
        width: calc(90% - 260px);
    }
    .main section .penjualan li{
        font-size: 32px;
    }
    .main section .rating .judul {
        font-size: 32px;
    }
}
@media (max-width: 992px) {
    .main {
        float: none;
        width: calc(90% - 260px);
    }
    .main section {
        left: 260px;
    }
    .main section .penjualan li{
        font-size: 28px;
    }
    .main section .rating .judul {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .main {
        float: none;
        width: calc(80% - 60px);
    }
    .main section {
        left: 120px;
    }
    .main section .penjualan li{
        font-size: 24px;
    }
    .main section .penjualan li a {
        font-size: 18px;
    }
    .main section .rating .judul {
        font-size: 24px;
    }
    .main section .rating li {
        font-size: 18px;
    }
    .main section .rating span img {
        width: 17px;
        height: 17px;
    }
}
@media (max-width: 480px) {
    .main {
        float: none;
        width: calc(80% - 60px);
    }
    .main section {
        left: 100px;
    }
    .main section .penjualan li{
        font-size: 20px;
    }
    .main section .penjualan li a {
        font-size: 12px;
    }
    .main section .rating .judul {
        font-size: 20px;
    }
    .main section .rating li {
        font-size: 16px;
    }
    .main section .rating span img {
        width: 15px;
        height: 15px;
    }
}

/*aside*/
.aside {
    float: left;
    width: 39.75%;
}

.aside section {
    position: relative;
    top: 90px;
    width: 90%;
    left: 260px;
    z-index: 9996;
    background-color: rgb(251, 251, 251);
    transition: width 0.3s ease;
    padding: 20px 5%;
    font-weight: bold;
    border-radius: 10px;
}

.aside section .date {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.aside section .date span {
    font-size: 24px;
    color: rgb(163, 162, 164);
    border: 1px solid rgb(179, 179, 179);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgb(219, 219, 219);
}

.aside section .date .kata {
    margin-right: 30px;
}

.aside section .date .posisi{
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.aside section .date img {
    width: 30px;
    height: 30px;
}
.aside section .penjualan .judul {
    font-size: 24px;
    color: rgb(59, 58, 61);
}
.aside section .penjualan li {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    font-size: 18px;
    color: rgb(59, 58, 61);
}
.aside section .penjualan li .data {
    width: 100%;
}
.aside section .penjualan li .day {
    width: 30%;
    color: rgb(163, 162, 164);
}

.aside section .penjualan li .nominal {
    width: 30%;
}

.aside section .penjualan li .kata {
    width: 70%;
    color: rgb(59, 58, 61);
}

.aside section .penjualan li .border {
    width: 100%;
    margin-top: 50px;
    border-top: 2px solid rgb(206, 213, 220);
    border-bottom: 2px solid rgb(206, 213, 220);
    padding: 25px 0;
    display: flex;
    justify-content: center;
}
.aside section .like .judul {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: rgb(59, 58, 61);
}
.aside section .like li {
    display: flex;
    list-style-type: none;
    width: 100%;
}
.aside section .like li .posisi {
    width: 50%;
    height: 100%;
    border-radius: 5px;
}
.like .item .likes {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.like .item .heart {
    width: 14px;
    height: 14px;
}
@media (max-width: 1200px) {
    .aside {
        float: none;
        width: calc(90% - 250px);
    }
    .aside section {
        left: 330px;
    }
    .aside section .penjualan .judul {
        font-size: 28px;
    }
    .aside section .penjualan li {
        font-size: 20px;
    }
    .aside section .date span {
        font-size: 26px;
    }
    .aside section .date img {
        width: 29px;
        height: 29px;
    }
    .aside .like .judul {
        font-size: 28px;
    }
    .like .item .likes {
        font-size: 24px;
    }
    
    .like .item .heart {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 992px) {
    .aside {
        float: none;
        width: calc(90% - 250px);
    }
    .aside section {
        left: 300px;
    }
    .aside section .penjualan .judul {
        font-size: 26px;
    }
    .aside section .penjualan li {
        font-size: 18px;
    }
    .aside section .date span {
        font-size: 22px;
    }
    .aside section .date img {
        width: 25px;
        height: 25px;
    }
    .aside .like .judul {
        font-size: 26px;
    }
    .like .item .likes {
        font-size: 22px;
    }
    
    .like .item .heart {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 768px) {
    .aside {
        float: none;
        width: calc(80% - 60px);
    }
    .aside section {
        left: 150px;
    }
    .aside section .penjualan .judul {
        font-size: 24px;
    }
    .aside section .penjualan li {
        font-size: 16px;
    }
    .aside section .date span {
        font-size: 16px;
    }
    .aside section .date img {
        width: 23px;
        height: 23px;
    }
    .aside .like .judul {
        font-size: 24px;
    }
    .like .item .likes {
        font-size: 18px;
    }
    
    .like .item .heart {
        width: 12px;
        height: 12px;
    }
}
@media (max-width: 480px) {
    .aside {
        float: none;
        width: calc(80% - 60px);
    }
    .aside section {
        left: 120px;
    }
    .aside section .penjualan .judul {
        font-size: 18px;
    }
    .aside section .penjualan li {
        font-size: 12px;
    }
    .aside section .date span {
        font-size: 14px;
    }
    .aside section .date img {
        width: 17px;
        height: 17px;
    }
    .aside .like .judul {
        font-size: 22px;
    }
    .like .item .likes {
        font-size: 14px;
    }
    
    .like .item .heart {
        width: 10px;
        height: 10px;
    }
}
