.container{
    width: 1440px;
}

/*nav*/
.nav{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: 9999;
    transition: width 0.3s ease;
    display: flex;
    justify-content: center;
}
.nav .item {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .item li {
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
}
.nav li a {
    text-decoration: none;
    color: black;
}
.nav .item .bendera {
    width: 26px;
    height: 26px;
}
.nav .item .bottom {
    margin-left: 10px;
    width: 26px;
    height: 26px;
}
.nav .item .start{
    padding: 5px 10px;
    background-color: black;
    border-radius: 5px;
}
.nav .item .box {
    width: 24.5%;
}
.nav .item .start a {
    color: white;
}

.nav .item .login {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: underline;
    border: 1px solid black;
}
@media (max-width: 1200px) {
    span{
        display: none;
    }
    .nav .item li {
        margin-left: 18px;
        font-size: 18px;
    }
    .nav .item .box {
        width: 43%;
    }
}

@media (max-width: 992px) {
    .nav .item .box {
        width: 25%;
    }
    .nav .item li {
        margin-left: 14px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .nav .item .box {
        width: 15%;
    }   
    .nav .item li {
        margin-left: 10px;
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    .nav .item .box {
        width: 0;
    }   
    .nav .item li {
        margin-left: 10px;
        font-size: 13px;
    }
}

/*main*/
.main{
    position: relative;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: rgb(238, 239, 240);
    font-family:'inter', sans-serif;
    display: flex;
    justify-content: center;
}
.main section {
    margin: 60px 20px;
    width: 390px;
    height: 720px;
    background-color: white;
    border: 2px solid rgb(127, 127, 127);
    border-radius: 15px;
    padding: 40px 30px;
    float: left;
}

.main section h1 {
    font-size: 32px;
}
.main section .bagian-1 .kata {
    font-size: 24px;
}
.main section .bagian-2 {
    width: 100%;
    height: 62px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.main section .bagian-2 .angka {
    font-size: 64px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.main section .bagian-2 .uang {
    font-size: 32px;
    float: left;
    height: 32px;
    margin-top: 30px;
    margin-right: 10px;
}
.main section .bagian-2 .waktu {
    font-size: 18px;
    color: rgb(156, 156, 156);
    float: left;
    height: 40px;
    margin-top: 22px;
    font-weight: 600;
}
.main section .bagian-3 .kata {
    font-size: 18px;
}
.main section img {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.main section .bagian-4 li{
    list-style-type: none;
    padding-bottom: 15px;
    font-size: 18px;
}
.main .personal .bagian-4 {
    margin-bottom: 35px;
}

.main section .bagian-5 {
    font-weight: bold;
    font-size: 18px;
    width: 290px;
    height: 85px;
    border-radius: 30px;
    background-color: rgb(255, 210, 51);
    line-height: 85px;
    text-align: center;
    margin: 0 auto;
}
